<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Identity* Dev Feed" value="https://www.myget.org/F/identity/" />
    <add key="Sitecore v3" value="https://sitecore.myget.org/F/sc-platform-9-1/api/v3/index.json" />
  </packageSources>
</configuration>