<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Caching" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Configuration" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.ServiceBus" version="6.0.1304.0" targetFramework="net471" />
  <package id="EnterpriseLibrary.TransientFaultHandling.WindowsAzure.Storage" version="6.0.1304.0" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net471" />
  <package id="IdentityModel" version="3.7.0" targetFramework="net471" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.2.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.2.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Protocols.WsFederation" version="5.2.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens.Saml" version="5.2.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Xml" version="5.2.2" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.ActiveDirectory" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Jwt" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="4.0.0" targetFramework="net471" />
  <package id="Mvp.Xml" version="2.3.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="12.0.0" targetFramework="net471" />
  <package id="Sitecore.Logging" version="12.0.0" targetFramework="net471" />
  <package id="Sitecore.Logging.Client" version="12.0.0" targetFramework="net471" />
  <package id="Sitecore.NVelocity" version="9.0.0" targetFramework="net471" />
  <package id="Sitecore.Owin" version="2.0.0" targetFramework="net471" />
  <package id="Sitecore.Owin.Authentication" version="2.0.0" targetFramework="net471" />
  <package id="Sitecore.Owin.Authentication.IdentityServer" version="1.0.0" targetFramework="net471" />
  <package id="Sitecore.Zip" version="12.0.0" targetFramework="net471" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.2" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net471" />
</packages>